deployment/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "6c1a4d5e75424f1a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Subscribe / messages",
        "topic": "nbiot_test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6319161a315ddada",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "767c976a8cdb3d11",
                "e110060beb5e6f19",
                "f6691018ac7e772b"
            ]
        ]
    },
    {
        "id": "767c976a8cdb3d11",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "8338193ea5a58768",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Subscribe / Ids",
        "topic": "nbiot_test_ids",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6319161a315ddada",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 560,
        "wires": [
            [
                "30280ac04a7b0b44",
                "7763ff3645e53d68"
            ]
        ]
    },
    {
        "id": "30280ac04a7b0b44",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "7763ff3645e53d68",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "context.global.set(\"received\", []);\ncontext.global.set(\"ids\", msg.payload.split(\" \"));\nreturn {payload:msg.payload.split(\" \").length};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 580,
        "wires": [
            [
                "2bd53f054a228682"
            ]
        ]
    },
    {
        "id": "2bd53f054a228682",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "60d0b44c90a11989",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre de messages envoyés",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 580,
        "wires": []
    },
    {
        "id": "f6691018ac7e772b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "\nvar received = context.global.get(\"received\");;\nreturn {payload:received.length};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "80f53049b6b96c10",
                "62524583c83f69ea",
                "1940c507663d5128",
                "57e0dcb2118c9966"
            ]
        ]
    },
    {
        "id": "e110060beb5e6f19",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "var recivedMessages = context.global.get(\"received\");\nrecivedMessages.push(msg.payload);\ncontext.global.set(\"received\",recivedMessages);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "80f53049b6b96c10",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "60d0b44c90a11989",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre de messages recus",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 380,
        "wires": []
    },
    {
        "id": "62524583c83f69ea",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "1940c507663d5128",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "60d0b44c90a11989",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Number of received messages",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d8e7d53b5d0218b2",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Subscribe / reception delay",
        "topic": "nbiot_delay",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6319161a315ddada",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 760,
        "wires": [
            [
                "a90cf53955a508a2",
                "802a0776a24595f0"
            ]
        ]
    },
    {
        "id": "a90cf53955a508a2",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 720,
        "wires": []
    },
    {
        "id": "802a0776a24595f0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "\nreturn {payload:Number(msg.payload)};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 800,
        "wires": [
            [
                "f3a261863c68ea50",
                "e667cf02d8afef30"
            ]
        ]
    },
    {
        "id": "f3a261863c68ea50",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "60d0b44c90a11989",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Reception Delay",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "57e0dcb2118c9966",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "9b9953e9e8dfbe02",
        "name": "PDR",
        "measurement": "pdr_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "nb_iot",
        "bucket": "pdr",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "e667cf02d8afef30",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "9b9953e9e8dfbe02",
        "name": "Delay",
        "measurement": "delay_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "nb_iot",
        "bucket": "delay",
        "x": 750,
        "y": 860,
        "wires": []
    },
    {
        "id": "6319161a315ddada",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "60d0b44c90a11989",
        "type": "ui_group",
        "name": "Default",
        "tab": "11f1385c6a5c204e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b9953e9e8dfbe02",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "11f1385c6a5c204e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]